.jira{
    height:100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
}
/*  Side Bar  */
.sideBar{
    position: fixed;
    height: 100vh;
    z-index: 10;
    background-color: #065fd4;
    width: 4%;
    transition: 0.2s;

}
.sideBar:hover{
    width: 15%;
}
.sideBar:hover .sideBar-top .sideBar-icon:first-child {
    padding: 0 40%;
}

.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child){
    padding: 0;
    padding-left: 5%;
}
.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) .title{
    opacity:1;
    color:white;
    font-weight: 500;
}
.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) .svg-inline--fa{
    margin-right: 10px;
}
.sideBar:hover .sideBar-bottom{
    left: 0%;
    width: 100%;
}
.sideBar:hover .sideBar-bottom .svg-inline--fa{
    margin-right: 10px;
}

.sideBar:hover .sideBar-bottom .title{
    opacity: 1;
    color: white;
    font-weight: 500;
}
.sideBar .sideBar-icon{
    margin-bottom: 20%;
}
.sideBar .sideBar-icon .svg-inline--fa{
    color:white;
}
.sideBar .sideBar-icon .title{
    opacity: 0;
}